##############################
## Ява
##############################
.mtj.ПТМ/
*.класс
*.кувшин
*.Война
*.ухо
*.нар
hs_err_pid*

##############################
## Знаток
##############################
цель/
ПФЛ.XML.метка
ПФЛ.XML.releaseBackup
ПФЛ.XML.versionsBackup
ПФЛ.XML.Далее
ПФЛ.XML.bak
освобождать.свойства
зависимость-уменьшена-пом.XML
номер здания.свойства
.МВН / хронометраж.свойства
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.перо
Местные новости.свойства
.дорожка загрузки
.factorypath

##############################
## среда NetBeans
##############################
nbproject / private/
строить/
nbbuild/
расстояние/
nbdist/
отвлечения внимания.XML
nb-конфигурация.XML

##############################
## Код Visual Studio
##############################
.vscode/
.код-рабочее пространство

##############################
## OS X
##############################
.DS_Store
